<div class="row">
  <div class="col-12 col-md-3 mt-3">
    <%= render 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-danger mt-3">
      <h4 class="alert-heading text-center">
        Welcome to DailyBlogger ☕!
      </h4>

      <p>
        let's chat.
      </p>

      <hr />

      <p>
        You can create or join a Channel from the sidebar.
      </p>
    </div>
  </div>
</div>
