.avatar {
  max-height: 30px;
  border-radius: 15px;
  width: auto;
  vertical-align: middle;
}

.navbar-red {
  background:  rgb(184, 55, 51);
}


.room-nav-link {
  border: red;
  background: rgb(184, 55, 51);

  & + .room-nav-link {
    border-top: 0 none;
  }
}

.chat {
  border: red;
  background: rgb(184, 55, 51);
  height: 50vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;

  .chat-message-container {
  padding: 5px;
  

  .avatar {
    margin: 5px;
  }

  .message-content {
    padding: 5px;
    border: red;
    border-radius: 5px;
    background: white;
    color: black;
  }

  & + .chat-message-container {
    margin-top: 10px;
  }
}
}

.chat-input {
  border-top: 0 none;
  border-radius: 0 0 5px 5px;
}